<div class="flex items-center justify-center min-h-screen">
  <!-- Show loader if login is in progress -->
  <div *ngIf="loading" class="flex justify-center mb-4">
    <div class="w-36 h-36 border-4 border-t-emerald-700 border-emerald-200 rounded-full animate-spin"></div>
  </div>
  
  <div [class.hidden]="loading" class="bg-gradient-to-b from-emerald-50 to-emerald-200 p-8 rounded-lg drop-shadow-lg max-w-sm w-full">
    <h1 class="text-4xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-emerald-200 to-emerald-900 mb-8 text-center">
      Developer Login
    </h1>

    <!-- Wrap the input and button in a form element -->
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <div class="mb-6 relative">
        <span class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
          <i class="fas fa-lock text-emerald-700"></i>
        </span>
        <input
          type="password"
          name="pin"
          [(ngModel)]="pin"  
          inputmode="numeric"
          maxlength="4"
          placeholder="Enter 4-digit PIN"
          autocomplete="one-time-code"  
          class="w-full p-3 pl-10 border bg-gray-50 shadow-inner border-gray-300 rounded-lg focus:outline-none focus:border-emerald-700"
        />
      </div>

      <button 
        type="submit" 
        class="relative w-full text-lg text-white font-bold bg-emerald-700 hover:bg-emerald-800 transition-transform transform p-4 rounded-lg overflow-hidden"
      >
        <span class="label relative z-10 tracking-wide">Login</span>
        <span class="absolute inset-0 bg-gradient-to-b from-transparent to-gray-600 opacity-30 pointer-events-none rounded-lg"></span>
      </button>
    </form>
  </div>
</div>
