<div class="flex items-center justify-center min-h-screen">
    <div class="bg-white p-8 rounded-lg drop-shadow-lg max-w-sm w-full">
      <h1 class="text-4xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-emerald-200 to-emerald-900 mb-8 text-center">
        Customer Login
      </h1>
  
      <div class="mb-4 relative">
        <span
          class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
        >
          <i class="fas fa-envelope text-emerald-700"></i>
        </span>
        <input
          type="text"
          name="sEmail"
          [(ngModel)]="customerEmail"
          placeholder="Enter Customer  Email"
          class="w-full p-3 pl-10 border bg-gray-50 shadow-inner border-gray-300 rounded-lg focus:outline-none focus:border-emerald-700"
        />
      </div>
  
  
      <button      (click)="onSubmit()"
        class="relative w-full text-lg text-white font-bold bg-emerald-700 hover:bg-emerald-800 transition-transform transform p-4 rounded-lg overflow-hidden"
      >
        <span class="label relative z-10 tracking-wide">Login</span>
        <span class="absolute inset-0 bg-gradient-to-b from-transparent to-gray-600 opacity-30 pointer-events-none rounded-lg"></span>
      </button>
    </div>
  </div>
  