<div class="w-full h-screen bg-gradient-to-b from-white to-emerald-200">
  <div class="grid space-y-12 p-16 ml-56">
    <div class="grid grid-cols-2 justify-between">
      <div>
        <button
          routerLink="/dashboard/add-product"
          class="w-80 h-48 transition duration-150 ease-in-out hover:-translate-y-1 bg-white border shadow-inner border-gray-300 text-white py-2 px-4 rounded hover:bg-white"
        >
          <div class="ml-28">
            <span class="mr-28"
              ><i class="fa-solid fa-cart-plus text-4xl text-emerald-900"></i
            ></span>
          </div>
          <h1 class="text-xl font-extrabold text-gray-600 text-transparen mt-4">
            Add Product
          </h1>
        </button>
      </div>
      <div>
        <button
          routerLink="/dashboard/all-product"
          class="w-80 h-48 transition duration-150 ease-in-out hover:-translate-y-1 bg-white border shadow-inner border-gray-300 text-white py-2 px-4 rounded hover:bg-white"
        >
          <div class="ml-28">
            <span class="mr-28"
              ><i
                class="fa-solid fa-cubes-stacked text-4xl text-emerald-900"
              ></i
            ></span>
          </div>
          <h1 class="text-xl font-extrabold text-gray-600 text-transparen mt-4">
            Total product
          </h1>
        </button>
      </div>
    </div>
  </div>
</div>
